* {
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  background: linear-gradient(135deg, #f8cdda, #f1a7c5);
}

.container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  background: white;
  padding: 2.5rem;
  border-radius: 20px;
  text-align: center;
  width: 90%;
  max-width: 420px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.15);
    color: #333;
}

.buttons {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  gap: 20px;
}

button {
  border: none;
  padding: 12px 22px;
  font-size: 1rem;
  border-radius: 30px;
  cursor: pointer;
}

.yes {
  background: #ff4d6d;
  color: white;
}

.no {
  background: #e0e0e0;
  font-size: 0.9rem;
}
